<div class="nested-fields">
  <div class="row mb-3">
    <div class="col-sm-6 d-flex align-items-center"><%= f.collection_select :food_id, Food.all, :id, :name, {include_blank: "選択して下さい"}, {class: "js-select"} %></div>
    <div class="row">
      <div class="offset-md-1 col-sm-2 d-flex align-items-center"><%= f.number_field :quantity, :placeholder => "一人分の量(g)", class: "form-control" %></div>
    </div>
  </div>
</div>