<div class="bg-secondary p-3 p-sm-5 my-4 rounded">
  <div class="text-center text-white">
    <h1>Welcome to the MacroRecipe</h1>
    <%= form_with url: root_path, method: :get, local: true do |f| %>
      <%= f.text_field :title, value: params[:title] %>
      <%= f.submit :search %>
    <% end %>
  </div>
  
</div>
<%= render 'recipes/recipes', recipes: @recipes %>
