<%= form_with url: csv_import_foods_path do |form| %>
  <%= form.file_field :file, accept: '.csv' %>
  <%= form.submit "アップロード" %>

　<% if @errors.present? %>
   <% @errors.each do |error| %>
     <% error[:messages].each do |message| %>
       <li><%= "#{error[:row_num]}行目：#{message}" %></li>
     <% end %>
   <% end %>
　<% end %>
<% end %>
