.like-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #808080; 
 }

.unlike-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #e54747;
 }

.recipe-image {
  object-fit: contain;
  width: 300px;
  height: 300px;
}

@media all and (min-width: 332px) and (max-width: 1200px) {
  .recipe-image {
    width: 180px;
    height: 180px;
  }
}

@media all and (max-width: 331px){
  .recipe-image {
    width: 150px;
    height: 150px;
  }
}

.pagination {
  justify-content: center;
}